.custom-navbar-container {
  background-color: #178066;
  align-items: center;
  padding: 2vh 0;
}

.navbar-main-item {
  text-align: right;
  font-size: 35px;
}

.navbar-main-item a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-main-item a:hover,
.navbar-item a:hover {
  color: #fae038;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin-right: 50px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
}
