<nav class="custom-navbar-container">
  <div class="navbar-main-item">
    <a href="index.html"> TESTARE </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="dashboard"> Home </a>
      </li>
      <li class="navbar-item">
        <a href="about"> About </a>
      </li>
      <li class="navbar-item">
        <a href="departments.html"> Departments </a>
      </li>
      <li class="navbar-item">
        <a href="doctors.html"> Doctors </a>
      </li>
      <li class="navbar-item">
        <a href="contact-us"> Contact Us </a>
      </li>
    </ul>
  </div>
</nav>
