<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>

  <link rel="stylesheet" href="../../assets/css/all.min.css" />
  <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
</head>

<div class="custom-navbar-container">
  <div class="row">
    <div class="navbar-main-item col-lg-3">
      <a href="CT-prediction">{{ 'button.upload-CT' | translate }}</a>
    </div>
    <div class="navbar-main-item col-lg-2">
      <a href="survey-prediction">{{ 'button.consultation' | translate }}</a>
    </div>
    <ul class="navbar-list col-lg-7">
      <li class="navbar-item">
        <a href="dashboard">{{ 'button.home' | translate }}</a>
      </li>
      <li class="navbar-item">
        <a href="about">{{ 'button.about' | translate }}</a>
      </li>
      <li class="navbar-item">
        <a href="advices">{{ 'button.advices' | translate }}</a>
      </li>
      <li class="navbar-item">
        <a href="contact-us">{{ 'button.contact' | translate }}</a>
      </li>
      <li class="navbar-item" *ngIf="!isAuthenticated()">
        <a href="login">
          <i class="fa fa-user"></i>
          {{ 'button.login' | translate }}
        </a>
      </li>
      <li class="navbar-item" *ngIf="isAuthenticated()">
        <a href="account">
          {{ 'button.account' | translate }}
        </a>
      </li>
      <li class="navbar-item">
        <div *ngIf="getCurrentLanguage() === 'ro'">
          <button class="btn btn-link" (click)="changeLanguage('en')">
            <img src="../../assets/images/country/ro.png" alt="ro-flag">
          </button>
        </div>
        <div *ngIf="getCurrentLanguage() === 'en'">
          <button class="btn btn-link" (click)="changeLanguage('ro')">
            <img src="../../assets/images/country/en.png" alt="en-flag">
          </button>
        </div>
      </li>
      <li class="navbar-item" *ngIf="isAuthenticated()" (click)="logout()">
        <a href="#">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
