.contact-us-container {
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

.contact-us-header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.contact-us-form {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.form-row {
  justify-content: center;
  margin-bottom: 20px;
}

.col-lg-5 input,
.col-lg-10 input,
.col-lg-10 textarea {
  background-color: #eeeeee;
  border: none;
  font-size: 18px;
  padding: 8px 12px;
  width: 100%;
}

.col-lg-10 textarea {
  resize: none;
}

.col-lg-5 input:focus,
.col-lg-10 input:focus,
.col-lg-10 textarea:focus,
.submit-btn:focus {
  outline: none;
}

.submit-btn {
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0;
}

.messages-container {
  width: 80%;
  text-align: center;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

.error-message {
  color: #d0342c;
}

.success-message {
  color: #7abaff;
}
