<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advices</title>

  <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
  <link rel="stylesheet" href="../../assets/css/all.min.css" />
</head>

<body>
   <div class="row">
      <div class="col-md-5">
        <img src="../../assets/images/strong-lungs.jpeg" alt="lungs">
      </div>
      <div class="col-md-7">
         <p>{{ "advices.advice-1" | translate }}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>{{ "advices.advice-2" | translate }}</p>
        </div>
        <div class="col-md-5">
          <img src="../../assets/images/smoking-lungs.jpeg" alt="lungs">
        </div>
     </div>
  </div>
</body>
