<head>
  <title> Footer </title>
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
</head>

<footer class="custom-footer-container">
  <div class="footer-social-media">
    <a href="">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="">
      <i class="fa fa-instagram"></i>
    </a>
  </div>

  <div class="footer-link">
    <a class="" href="contact.html">
      Contact Us
    </a>
  </div>

  <div class="footer-copyright">
    <p> &copy; {{ currentYear }} CancerLungDetector </p>
  </div>
</footer>
