<head>
  <title> Footer </title>

  <link rel="stylesheet" href="../../assets/css/all.min.css" />
</head>

<footer class="custom-footer-container">
  <div class="footer-social-media">
    <a href="">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>

  <div class="footer-link">
    <a href="contact-us">
      Contact Us
    </a>
  </div>

  <div class="footer-copyright">
    <p> &copy; {{ currentYear }} LungCancerDetector </p>
  </div>
</footer>
