<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>

  <link rel="stylesheet" href="../../assets/css/all.min.css" />
  <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
</head>

<footer class="custom-footer-container">
  <div class="footer-social-media">
    <a href="">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>

  <div class="footer-link">
    <a href="contact-us">{{ 'button.contact' | translate }}</a>
  </div>

  <div class="footer-copyright">
    <p>&copy; {{ currentYear }} LungCancerDetector</p>
  </div>
</footer>
