.row {
  padding-top: 200px;
  padding-left: 300px;
  position: fixed;
}

.lungs-img {
  width: 100%;
  padding-left: 100px;
}

.welcome-text {
  padding-top: 100px;
  font-size: 50px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
}

.start-btn {
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 800;
  background-color: #178066;
  color: #000000;
  border: 2px solid #178066;
  padding: 20px 40px;
  border-radius: 35px;
  cursor: pointer;
  position: fixed;
  top: 55%;
  right: 350px;
  transform: translateY(-50%);
}

.start-btn:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}
