.personal-info h2,
.history h2 {
  padding: 30px 200px 10px;
}

.personal-info p {
  padding: 0 100px;
  font-size: 20px;
}

.personal-info::after {
  content: "";
  display: block;
  width: 85%;
  margin: 30px auto 0;
  border-bottom: 3px solid #cccccc;
}

.registrations-container {
  width: 90%;
  margin: 0 auto;
}

.registration {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}

.registration p {
  font-size: 18px;
  margin: 10px 0;
}

.registration img {
  height: 180px;
  margin: 20px;
}
