<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>

  <link rel="stylesheet" href="../../assets/css/all.min.css"/>
  <link rel="stylesheet" href="../../assets/css/bootstrap.css"/>
</head>

<body>
  <div class="personal-info">
    <h2>{{ 'account.personal-info' | translate }}</h2>
    <p>{{ 'account.name' | translate }}: {{ userName }}</p>
    <p>{{ 'account.email' | translate }}: {{ userEmail }}</p>
  </div>
  <div class="history">
    <h2>{{ 'account.history' | translate }}</h2>
    <div class="registrations-container">
      <div class="row">
        <ng-container *ngFor="let registration of registrations; let i = index">
          <div class="col-md-3">
            <div class="registration" [ngStyle]="{'background-color': getColor(registration.result)}">
              <p>{{ registration.timestamp }}</p>
              <img [src]="registration.image" alt="CT Diagram">
              <p>{{ 'account.result' | translate }}: {{ getKey(registration.result) | translate }}</p>
            </div>
          </div>
          <div *ngIf="(i + 1) % 4 === 0"></div>
        </ng-container>
      </div>
    </div>
  </div>
</body>
